<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HarnessBetfairFeedService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HarnessBetfairFeedService.My.MySettings.ConnectionString"
            connectionString="Database=OddsMatching;Data Source=eu-cdbr-azure-north-e.cloudapp.net;User Id=b083cb50265fec;Password=263fb5f7;persistsecurityinfo=True" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <HarnessBetfairFeedService.My.MySettings>
            <setting name="ProcessLogPath" serializeAs="String">
                <value>C:\#myPrograms\BetFairFeedService\logs\</value>
            </setting>
            <setting name="BetFairAccountName" serializeAs="String">
                <value>saber_cbm</value>
            </setting>
            <setting name="BetFairAccountPassword" serializeAs="String">
                <value>december1982</value>
            </setting>
            <setting name="BetFairAccountAppKey" serializeAs="String">
                <value>W3RXBXnNRTetQ1M1</value>
            </setting>
            <setting name="BetFairApiUrl" serializeAs="String">
                <value>https://api.betfair.com/exchange/betting</value>
            </setting>
            <setting name="StreamSportId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StreamSportName" serializeAs="String">
                <value>Soccer</value>
            </setting>
            <setting name="DaysAhead" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NumberOfEuropenEvents" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NumberOfUkEvents" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ProcessCycleEverySecs" serializeAs="String">
                <value>120</value>
            </setting>
        </HarnessBetfairFeedService.My.MySettings>
    </userSettings>
</configuration>